{% extends "layout.html" %}

{% block title %}Text Editor{% endblock %}

{% block content %}

    <h1>Text Editor</h1>

    <form action="" method="post">
        <label for="textedit"></label>
        <textarea id="textedit" name="content" placeholder="{{ placeholder }}" required autofocus>{{ preset }}</textarea>
        <input type="hidden" name="csrf_token" value="{{ session['csrf_token'] }}">
        <br>
        <button type="button" onclick="window.history.back()">Cancel</button>
        <input type="submit" value="Submit">
    </form>

{% endblock %}