<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <h1>{{ game_name }}</h1>

    <label for="biomeSelect">Biome:</label>
    <select id="biomeSelect" onchange="changeBiome(gameId)">
        {% for biome in biomes %}
            <option value="{{ biome.id }}" {% if biome.id == current_biome_id %}selected{% endif %}>{{ biome.name }}</option>
        {% endfor %}
    </select>
    <br><hr>

    <h2>Main Encounter Probability Table</h2>
    <form action="{{ url_for('roll_type', game_id=game_id) }}" method="post">
        <table>
            <thead>
                <tr>
                    <th><input type="submit" value="Roll"></th>
                    <th>Encounter Type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for id, roll_range, encounter_type in encounter_types %}
                    <tr data-id="{{ id }}">
                        <td>{{ roll_range }}</td>
                        <td>{{ encounter_type}}</td>
                        <td><button class="range-button">Range</button></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No encounter types set.</td>
                    </tr>
                {% endfor %}
        </table>
    </form>
    <br><hr>

    <h2>Encounters</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>

    <button id="toggleButtonGeneral">General Encounters</button>
    <div id="generalEncounters" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Roll</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for id, roll_range, description in encounters_general %}
                    <tr>
                        <td>{{ roll_range }}</td>
                        <td>{{ description }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No general encounters set.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>

    <button id="toggleButtonBiome">Biome Encounters</button>
    <div id="biomeEncounters" style="display: none;">
        <table id="biomeEncountersTable">
            <thead>
                <tr>
                    <th>Roll</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for id, roll_range, description in encounters_biome %}
                    <tr>
                        <td>{{ roll_range }}</td>
                        <td>{{ description }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No biome encounters set.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><hr>

    <a href="/dashboard">Back to dashboard</a>
    <a href="/logout">Logout</a>

    <script>
        var gameId = "{{ game_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>