<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>
    <h1>{{ game_name }}</h1>

    <script>
        var gameId = "{{ game_id }}";
    </script>
    <label for="biomeSelect">Biome:</label>
    <select id="biomeSelect" onchange="changeBiome(gameId)">
        {% for biome in biomes %}
            <option value="{{ biome.id }}" {% if biome.id == current_biome_id %}selected{% endif %}>{{ biome.name }}</option>
        {% endfor %}
    </select>
    
    <script>
    function changeBiome(gameId) {
        var select = document.getElementById("biomeSelect");
        var biomeId = select.options[select.selectedIndex].value;
        fetch('/change_biome/' + gameId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({biome_id: biomeId}),
        });
    }
    </script>
    <br><hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <h2>Main Encounter Probability Table</h2>
    <form action="{{ url_for('roll_type', game_id=game_id) }}" method="post">
        <table>
            <thead>
                <tr>
                    <th><input type="submit" value="Roll"></th>
                    <th>Encounter Type</th>
                </tr>
            </thead>
            <tbody>
                {% for roll_range, encounter_type in encounter_types %}
                    <tr>
                        <td>{{ roll_range }}</td>
                        <td>{{ encounter_type}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No encounter types set.</td>
                    </tr>
                {% endfor %}
        </table>
    </form>
    <br><hr>

    <h2>Encounter Tables</h2>
    <button id="toggleButtonGeneral">General Encounters</button>
    <div id="generalEncounters" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Roll</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for roll_range, description in encounters_general %}
                    <tr>
                        <td>{{ roll_range }}</td>
                        <td>{{ description }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No general encounters set.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.getElementById("toggleButtonGeneral").onclick = function() {
            var generalEncounters = document.getElementById("generalEncounters");
            if (generalEncounters.style.display === "none") {
                generalEncounters.style.display = "block";
                this.textContent = "Hide General Encounters";
            } else {
                generalEncounters.style.display = "none";
                this.textContent = "General Encounters";
            }
        }
    </script>
    <br>

    <button id="toggleButtonBiome">Biome Encounters</button>
    <div id="biomeEncounters" style="display: none;">
        <table>
            <thead>
                <tr>
                    <th>Roll</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for roll_range, description in encounters_biome %}
                    <tr>
                        <td>{{ roll_range }}</td>
                        <td>{{ description }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">No biome encounters set.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.getElementById("toggleButtonBiome").onclick = function() {
            var generalEncounters = document.getElementById("biomeEncounters");
            if (generalEncounters.style.display === "none") {
                generalEncounters.style.display = "block";
                this.textContent = "Hide Biome Encounters";
            } else {
                generalEncounters.style.display = "none";
                this.textContent = "Biome Encounters";
            }
        }
    </script>
    <br><hr>

    <a href="/dashboard">Back to dashboard</a>
    <a href="/logout">Logout</a>

</body>
</html>